<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    {% for article in articleList %}
    <div>
        {{ article.id }}
        <a href="{{article.id}}">{{ article.title }}</a> | {{ article.name }} | {{ article.cdate|date:"D d M Y" }}
    </div>
    {% endfor %}
    <a href="http://52.78.208.80/com/write/">쓰기</a>
</body>
</html>
