<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <div>
        제목: {{ article.title }}
    </div>
    <div>
        이름: {{ article.name }}
    </div>
    <div>
        이름: {{ article.contents }}
    </div>
    <div>
        이름: {{ article.email }}
    </div>
    <a href="http://52.78.208.80/com/list/">목록으로</a>
</body>
</html>
